<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="topmenufragment :: header"></div>


<form action="/recipes/add" method="post">

  <label>Tytuł przepisu
    <input name="name" type="text"/>
  </label>
  <label>Instrukcje
    <textarea name="instruction"></textarea>
  </label>
  <label>link do fotografi
    <input name="photoURL" type="text"/>
  </label>

  <!--  <select name="unit">-->
<!--    <option value="GRAM">GRAM</option>-->
<!--    <option value="MILILITER">MILILITER</option>-->
<!--  </select>-->

  <button type="submit">Dodaj</button>
</form>
<div th:replace="topmenufragment :: footer"></div>
</body>
</html>