<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="topmenufragment :: header"></div>


<form action="/recipes/add" method="post" th:object="${recipe}">
  <input th:field="*{id}" type="hidden"/>
  <label>Tytuł przepisu
    <input name="name" type="text" th:value="*{name}"/>
  </label>
  <label>
    <br/>
    Składniki
    //tutaj musi być formularz dodoawania recipe ingredient
    //Musimy wyświetlić widoczne recipe ingredient, ale jeżeli jakiegoś składnika nie ma, to trzeba go dodać oddzielnie.
    //ten formularz de facto będzie tez tworzył recipe ingredient oprócz samego recipe!!!
    <input th:each="ingredient: ${recipe.getRecipeIngredient()}" th:value="${ingredient.ingredient.name}"/> <br/>
  </label>

  <label>Instrukcje
    <textarea name="instruction" th:text="*{instruction}"></textarea>
  </label>
  <label>link do fotografi
    <input name="photoURL" type="text" th:value="*{photoURL}"/>
  </label>


  <!--  <select name="unit">-->
<!--    <option value="GRAM">GRAM</option>-->
<!--    <option value="MILILITER">MILILITER</option>-->
<!--  </select>-->

  <button type="submit">Dodaj</button>
</form>

</body>
</html>