<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:replace="topmenufragment :: header"></div>


<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="RecipeName" th:text="${recipe.getName()}"></td>
  </tr>
  <tr>
    <td class="RecipeImage"><img th:alt="${recipe.getName()}" th:src="${recipe.getPhotoURL()}"/></td>
  </tr>


  <tr th:each="recipeIngredient: ${recipe.getRecipeIngredient()}">
    <td class="RecipeInstruction" th:text="${recipeIngredient}"></td>
  </tr>

  <tr>
    <td th:text="${recipe.getInstruction()}"></td>
  </tr>
  <tr>
    <td th:text="${recipe.getLikeCounter()}"></td>
  </tr>


  </tbody>
</table>


<button> <a th:href="@{'/recipes/'+${recipe.id}+'/like'}">like</a></button>
<button>  <a th:href="@{'/recipes/'+${recipe.id}+'/dislike'}">dislike</a></button>

<div th:replace="topmenufragment :: footer"></div>
</body>
</html>