<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

ul class="breadcrumb" >
<li th:each="entry : ${sessionScope.currentBreadCrumb}">
  <a th:href="${entry.queryString}" th:unless="${entry.isCurrent}" th:text="${entry.label}">Home</a>
  <span th:if="${entry.isCurrent}" th:text="${entry.label}">Home</span>
</li>
</ul>

<ul th:each="recipe: ${recipes}">
  <li>
    <a th:href="@{'/recipes/'+${recipe.id}}"><span th:text="${recipe.getName()}"></span></a>
    <img th:alt="${recipe.getName()}" th:src="${recipe.getPhotoURL()}"/>
    <a th:href="@{'/recipes/'+${recipe.id}+'/edit'}">Edytuj</a>
    <a th:href="@{'/recipes/'+${recipe.id}+'/delete'}">Usun</a>
  </li>
</ul>

<a href="/recipes/add">Dodaj</a>
<a href="/">Powrót</a>

</body>
</html>