<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="topmenufragment :: header"></div>

<form action="/ingredients/add" method="post">

  <input name="name" type="text"/>

<!--  <select name="unit">-->
<!--    <option value="GRAM">GRAM</option>-->
<!--    <option value="MILILITER">MILILITER</option>-->
<!--  </select>-->

  <button type="submit">Dodaj</button>
</form>
<div th:replace="topmenufragment :: footer"></div>
</body>
</html>