<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<p th:text="|Edytujesz składnik o id: ${ingredient.id}|"></p>

<form action="/ingredients/add" method="post" th:object="${ingredient}">
  <input th:field="*{id}" type="hidden"/>

  <input th:field="*{name}" type="text"/>

<!--  <select th:field="*{unit}">-->
<!--    <option th:each="unit: ${units}"-->
<!--            th:text="${unit.name()}"-->
<!--            th:value="${unit.name()}">-->
<!--    </option>-->
<!--  </select>-->

  <input type="submit" value="Zapisz zmiany"/>


</body>
</html>