<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="topmenufragment :: header"></div>

<ul>
  <li>
    <span th:text="${ingredient.getId()}"></span>
    <span th:text="${ingredient.name}"></span>

    <!--      <a th:href="|/edytuj?id=${meal.id}|">Edytuj</a>-->
    <!--      <a th:href="|/usun?id=${meal.id}|">Usuń</a>-->
  </li>
</ul>

<a href="/ingredients/">powrót</a>
<div th:replace="topmenufragment :: footer"></div>
</body>
</html>