<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Witaj w bibliotece książek kucharskich!</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="topmenufragment :: header"></div>

<h1>Witaj w bibliotece książek kucharskich !!!!</h1>
<h2>Szef Tomasz zaprasza !!!!</h2>

<ul th:each ="breadcrumb: ${breadcrumbs}">
  <li th:text ="breadcrumb"></li>
</ul>

<ul>

  <li><a href="/recipes/">Przepisy</a></li>
  <li><a href="/ingredients/">Skladniki</a></li>
  <li><a href="/recipeingredient/">RecipeIngredients</a></li>
</ul>

<div th:replace="topmenufragment :: footer"></div>

</body>
</html>