<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="topmenufragment :: header"></div>

<form action="/recipeingredient/add" method="post" th:object="${recipeIngredient}">
  <input th:field="*{id}" type="hidden"/>
  <input th:field="*{recipe.id}" type="hidden"/>
<!--  <input th:field="*{ingredient.id}" type="hidden"/>-->

  <select th:field="*{ingredient}">
    <option th:each="ingredient: ${ingredients}"
            th:text="${ingredient.name}"
            th:value="${ingredient.id}">
    </option>
  </select>

<!--  <ul th:each="recipeIngredient: ${)}">-->
<!--    <li th:text="${recipeIngredient}"></li>-->
<!--  </ul>-->


  <label> Jednostki
    <select th:field="*{unit}">
      <option th:each="Ingredientunit: ${Ingredientunits}"
              th:text="${Ingredientunit}"
              th:value="${Ingredientunit}">
      </option>
    </select>
  </label>



  <label>Ilość
    <input name="amount" type="text" th:field="*{amount}"/>
  </label>

<input type="submit" value="Zapisz zmiany"/>
</form>


<a href="/recipes/">Powrót</a>
<div th:replace="topmenufragment :: footer"></div>
</body>
</html>