<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Skladniki</h1>


<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Ingredient NAME</th>
    <th>Recipe NAME</th>
    <th>Ilość</th>
    <th>Jednostki</th>
    <th>Edytuj</th>
    <th>Usuń</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="recipeIngredient: ${recipeIngredients}">
    <td th:text="${recipeIngredient.id}"></td>

    <td th:text="${recipeIngredient.getIngredient().getName()}"></td>
    <td th:text="${recipeIngredient.getRecipe().getName()}"></td>
    <td th:text="${recipeIngredient.getAmount()}"></td>
    <td th:text="${recipeIngredient.getUnit()}"></td>
    <!--    <td><a th:href="@{'/ingredients/'+${ingredient.id}}">DETAILS</a></td>-->
    <td><a th:href="|/recipeingredient/${recipeIngredient.id}|">DETAILS</a></td>
    <td><a th:href="@{'/recipeingredient/'+${recipeIngredient.id}+'/edit'}">EDIT</a></td>
    <td><a th:href="@{'/recipeingredient/'+${recipeIngredient.id}+'/delete'}">DELETE</a></td>
  </tr>


  </tbody>
</table>


<a href="/">powrót do menu</a>
<a href="/ingredients/add">dodaj nowy składnik</a>
</body>
</html>